<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCGXz2vhMkBbfgYr7u31qvV5HTI0m3PJBA</string>
	<key>GCM_SENDER_ID</key>
	<string>887565525205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.codeVidhya.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>my-code-star-project</string>
	<key>STORAGE_BUCKET</key>
	<string>my-code-star-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887565525205:ios:d08e153e870aba9c5ac25c</string>
</dict>
</plist>